html {
  font-family: 'Raleway', sans-serif;
  color: #333;
  background-color: #f6f6f6;
  zoom: 125%;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  padding: 10px 10px 10px 0;
}

ul {
  font-size: 24px;
  list-style-type: none;
  padding-left: 0;
}

#players > ul {
  font-size: 32px;
  list-style-type: none;
  padding-left: 0;
}

#additions > button {
  min-width: 100px;
}

li {
  padding: 5px;
  border-radius: 7.5px;
  transition: .3s;
}

input[type=text] {
  padding: 7px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input[type=text], button {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  margin: 5px 0;
  padding: 8px;
  outline: none;
  border: none;
  border-radius:10px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.4s ease-in-out; /* Safari */
  transition: 0.4s ease-in-out;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
}

button:active {
  -webkit-transition: 0.2s; /* Safari */
  transition: 0.2s;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.23);
}

input[type=text]:focus {
  -webkit-transition: 0.1s; /* Safari */
  transition: 0.1s;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.23);
}

.container {
  width: 80%;
  max-width: 800px;
  margin: auto;
}

a, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}

.topbar {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.15);
  background-color: #f7f9fb;
}

#addPlayer {
  filter: blur(5px);
  display: none;
}

#btnFinishPlayer, #inGame, #afterGame {
  display: none;
}

#playerList, .resultCard {
  background-color: #e6e9ec;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05), 0 6px 12px rgba(0, 0, 0, 0.06);
}

.resultCard {
  margin-bottom: 10px;
}

.activePlayer {
  color: #eee;
  background-color: #5085a5;
}

/* Button Styling */
button {
  background-color: white;
  color: #333;
  border: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

#scoring > button, #additions > button {
  font-size: 48px;
  margin: 10px 5px 10px 5px;
}

.button-primary {
  background-color: #8fc1e3;
}