html {
  font-family: sans-serif;
}

ul {
  font-size: 32px;
  list-style-type: none;
}

.container {
  padding-top: 20px;
  width: 80%;
  max-width: 600px;
  margin: auto;
}



/* Button Styling */
button {
  font-size: 48px;
  background-color: white;
  color: #333;
  border: 2px solid #ccc;
  border-radius: 2px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
