@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

@import 'colours.scss';
@import 'Header.scss';
@import 'Search.scss';
@import 'Main.scss';
@import 'ListItem.scss';
@import 'Barcodes.scss';

html {
    width: 100%;
}

body {
    font-family: 'Roboto Mono';
}

.container {
    display: block;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}