.list {

    .hidden {
        display: none;
    }

    .list-item {
        border-radius: 3px;
        cursor: pointer;
        font-size: 1.5rem;
        padding: .3rem;
        padding-left: .6rem;
        margin: .7rem 0;
        color: #333;
        background-color: #ddd;
        transition: .2s ease-in-out;
        font-weight: bold;
        -webkit-tap-highlight-color: transparent;
    
        .list-item-name {
            margin: 0 20px 0 0;
        }

        .list-item-dropdown {

            svg {
                display: block;
                margin: auto;
            }
        }
    }

    .search {
        font-family: 'Roboto Mono', monospace;
        display: inline-block;
        font-size: 20px;
        margin: 1rem 0;
        padding: .3rem 0;
        width: 100%;
        outline: none;
        border: none;
        border-bottom: 2px solid #00000063;
        transition: .2s ease-in-out;
    }
    
    .search:focus {
        border-bottom: 2px solid #f06c0080;
        transition: .3s ease-in-out;
    }
    
}

