html {

    font-family: 'Roboto Mono', monospace;

}

body {margin: 0}

.container {
    display: block;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
  }

header {
  box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.15);
}

h1 {
    margin: 0;
    padding: 1rem 0;
}

h4, h2 {
    text-align: center;
    margin: 0;
}

h6 {margin: 0;}

ul {
    padding: 0;
    list-style-type: none;
    margin-bottom: 0;
}

li {
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: .3rem;
    padding-left: .6rem;
    margin: .7rem 0;
    color: #333;
    background-color: #ddd;
    transition: .2s ease-in-out;
    font-weight: bold;
    -webkit-tap-highlight-color: transparent;
}

.liName {
    margin-right: 20px;
}

button {
    cursor: pointer;
    border-radius: 3px;
}

.stocked, #btnOk {
    background-color: #e97f28;
    color: #fff;
    transition: .2s ease-in-out;
}

#btnOk {
    margin-top: 2rem;
    outline: none;
    border: none;
    padding: 1rem;
    font-size: 2rem;
    width: 100%;
}

.swiper-slide {
    width: 80%;
    margin: auto;
}

footer {
    margin: 3rem 0 2rem 0;
}

.barcode-holder {
    margin: auto !important;
    width: 80% !important;
    overflow: none;
}

.swiper-barcode img {
    display: block;
    width: 80%;
    margin: 5rem auto;
    overflow: none;
}

.sub-amount-visible {
    background-color: #fff;
    color: #333;
    font-weight: normal;
    font-size: 20px;
    padding: 0 10px;
    border-radius: 3px;
}

.ddbarcode {
    /* transition: .2s ease-in-out; */
    height: auto;
    width: auto;
    margin: auto !important;
    padding: 0;
    overflow: none;
}

.ddbarcode img {
    display: block;
    width: 100%;
    margin: 5rem auto;
    overflow: none;
}

.input-amount {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 3px;
    margin-top: 1rem;
    width: 4rem;
    text-align: center;
}

.arrow-container {
    float: right;
}


.arrow {
    float: right;
    margin: .5rem;
    border: solid #333;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transition: .2s ease-in-out; 
}

.arrow-stocked {
    border-color: #fff;
    transition: .2s ease-in-out;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: .2s ease-in-out;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transition: .2s ease-in-out;
}

.search {
    font-family: 'Roboto Mono', monospace;
    display: inline-block;
    font-size: 20px;
    margin: 1rem 0;
    padding: .3rem 0;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid #00000063;
    transition: .2s ease-in-out;
}

.search:focus {
    border-bottom: 2px solid #f06c0080;
    transition: .3s ease-in-out;
}
